body {
    background-color: #f0deb7;
    color: #1b1915;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-size: 1.25rem;
    font-style: normal;
    margin: 0;
    /* Might have to change later */
    /* padding: 1em; */
}

h1 {
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: larger;
    text-align: center;
}

#header-container {
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    background-color: #9b8f76;
    padding: 1em;
    border: .1em solid #464135;
}

/* Header */
#header-nav {
    display: flex;
    justify-content: center;
    position: sticky;
}

/* Display evenly and in 1 line */
#header-nav nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

#header-nav nav li {
    margin: 0 1em;
    /* Add some spacing between list items */
}

#header-nav nav a {
    text-decoration: none;
    /* Remove underline from links */
    color: #1b1915;
    /* Set link color */
}

#section-container {
    border: .1em solid #464135;
    margin: 1em;
    padding: 1em;
}

#section-container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
li {
    list-style: none;
}
#section-container li {
    padding: 1em 2em;
   
}
footer {
    padding: 1em;
}

/* Media query*/
@media (max-width: 768px) {
    #header-nav nav {
        flex-direction: column;
        /* Stack list vertically */
    }
    section {
        padding: 2em;
        margin: 0;
        height: auto;
    }
    button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}

/* Mobile */
@media (max-width: 390px) {
    #header-nav nav {
        flex-direction: column;
        /* Stack links vertically */

    }
    section {
        padding: 1.5em;
        margin: 0.5em 0;
        height: auto;
    }
    button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}