body {
    background-color: #f4f4f9;
    color: #333333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bolder;
    color: black;
    margin-left: 1em;
}

h2 {
    font-size: larger;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* rows */
    justify-content: center;
    /* Center */
}

li {
    background-color: #6F6E72;
    color: #ffffff;
    padding: 1em 2em;
    margin: 0.5em;
    text-align: center;
    font-size: 1.25rem;
    flex: 1 1 200px;
    max-width: 300px;
  
}

section {
    padding: 1em;
    margin: 1em;
    background-color: #f9f9f9;
}

#header-container a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

#Connect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 150px; /* Adjust height as needed */
}

#Connect a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav {
    background-color: #6F6E72;
    padding: 10px;
    position: sticky;
    /* Sticky header */
    top: 0;
    z-index: 1000;
    width: 100%;

}

#header-container {
    display: flex;
    justify-content: center;
}

#header-container div {
    flex: 1;
    text-align: center;
}